html, body, #root,.app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.graph {
  height: 90%;
  width: 90%;
  border-radius: 2%;
  background-color: rgb(220, 220, 220);
}
.no-select {
  user-select: none; /* Disable text selection for modern browsers */
  -webkit-user-select: none; /* Disable text selection for Safari */
  -moz-user-select: none; /* Disable text selection for Firefox */
  -ms-user-select: none; /* Disable text selection for Internet Explorer/Edge */
}